
params {
    // Mandatory parameters
    input             =   null
    design_directory  =   null // path for design files directory
    rmap              =   null // virtual digest map file (.rmap)
    baitmap           =   null // baitmap file (.baitmap)
    
    // Optional
    features_file     =   null // genomic feature file for enrichmment plots (optional)

    // Chicago calls options
    score_cutoff      =   5 // Score threshold for calling significant interactions
    export_format     =   'interBed' // chicago export format for option "--export-format". multiple formats separated by comma. options are: interBed,washU_text,seqMonk,washU_track
}



profiles {
    standard    {
            process.executor         = 'local'
            docker.enabled           = false
            singularity.enabled      = false
    }
    dhslab     {
            executor.queueSize        = 10
            executor.submitRateLimit  = '1/1sec'
            process.executor          = "lsf"
            process.clusterOptions    =  { "-a 'docker(${task.container})' -q dspencer -G compute-dspencer -g /dspencer/chicago" }        

    }
    ris_general {
             executor.queueSize       = 10
             executor.submitRateLimit = '1/1sec'
             process.executor         = "lsf"
             process.clusterOptions   = { "-a 'docker(${task.container})' -q general -G compute-dspencer -g /dspencer/chicago" }        

    }
    docker       {
            docker.enabled            = true
            docker.runOptions         = '-u $(id -u):$(id -g)'
            singularity.enabled       = false
    }

    singularity   {
            docker.enabled            = false
            singularity.enabled       = true
            singularity.autoMounts    = true
    }
    test_dhs  { includeConfig 'conf/test_dhs.config'  }
}