params {
    // Mandatory parameters
    input             =   '/storage1/fs1/dspencer/Active/spencerlab/mohamed/github/nf-chicago/assets/samplesheet.csv'
    design_directory  =   '/storage1/fs1/dspencer/Active/spencerlab/mohamed/ref_data/chicago/h_10kDesingFiles' // path for design files directory
    rmap              =   '/storage1/fs1/dspencer/Active/spencerlab/mohamed/ref_data/chicago/h_10kDesingFiles/digest10kb_pooled120bp.rmap' // virtual digest map file (.rmap)
    baitmap           =   '/storage1/fs1/dspencer/Active/spencerlab/mohamed/ref_data/chicago/h_10kDesingFiles/pooled_10kb_120bp.baitmap' // baitmap file (.baitmap)
    
    // Optional
    // features_file     =   '/storage1/fs1/dspencer/Active/spencerlab/mohamed/tools_testing/testing_data/chicago/genomic_features.txt' // genomic feature file for enrichmment plots (optional)
    score_cutoff      =   5 // Score threshold for calling significant interactions
}
